/* Basis-Styling */

@font-face {
  font-family: 'DS-Digital';
  src:  url('fonts/DS-DIGIT.TTF') format('truetype'),
        url('fonts/DS-Digital-BoldItalic.woff2') format('woff2'),
        url('fonts/DS-Digital-BoldItalic.woff') format('woff');
}


/* Farben Übersicht */

:root {
  --primary-color: #d6d6d6;
  --secondary-color: #a1a1a1;
  --text-color: #dfdfdf;
  --link-color: rgb(132, 0, 255);
  --background-color: #000000;
  --uhr-border-color: #ffffff;
}


/* Struktur-Elemente */

html {
  height: 100%; 
  padding: 0;
  background-color: var(--background-color);
}

header {
  position: relative;
  position: fixed;
  top: 0px;
  left: -2px;
  
}

body {
  font-family: Arial, sans-serif;
  margin-top: 0px;
  position: relative; 
}

footer {
  position: fixed;
  left: 0; 
  right: 0; 
  bottom: 0px;
  margin: 0px;
  text-align: center;
  color: var(--text-color);
}

/* Text-Elemente */

h1 {
  color: var(--primary-color);
  padding: 5px;
  font-size: 30px;
  text-align: center;
  top:0px;
  margin: 0px;
}
/* Uhr */ 

  #uhrzeit {
    margin-top: 40px;
    font-family: 'DS-Digital', sans-serif;
    font-size: 85px;
    color: var(--primary-color);
    border: solid;
    border-color: var(--uhr-border-color);
    border: 30px;
    text-align: center;
    display: flex; 
    justify-content: center; 
    align-items: center;
  }

    .stunden {
      color: green;
    }

    .minuten {
      color: red;
    }

    .sekunden {
      position: absolute;
      right: 0;
      bottom: 0;
      font-size: 50%;
      border:solid;
      border-color: var(--uhr-border-color);
    }

a {
  color: var(--link-color);
}

p {
 color: var(--text-color);
}

.icon {
  position: absolute;
  top: 5px;  
  left: -2px; 
  width: 32px; 
  height: 32px;
  
}


