/* Basis-Styling */

@font-face {
  font-family: 'DS-Digital';
  src:  url('fonts/DS-DIGIT.TTF') format('truetype'),
        url('fonts/DS-Digital-BoldItalic.woff2') format('woff2'),
        url('fonts/DS-Digital-BoldItalic.woff') format('woff');
}


/* Farben Übersicht */

:root {
  --primary-color: #AB9BE2;
  --secondary-color: #a1a1a1;
  --text-color: #DED8F4;
  --link-color: #A143C8;
  --background-color: #04030e;
  --uhr-border-color: #AB9BE2;
}


/* Struktur-Elemente */

html {
  height: 100%; 
  padding: 0;
  background-color: var(--background-color);
  /* border: none; */
 
}

header {
  position: relative;
  position: fixed;
  top: 0px;
  left: -2px;
}

body {
  font-family: Arial, sans-serif;
  margin-top: 0px;
  position: relative; 
  overflow-x: hidden;
}

footer, .footer {
  position: absolute;
  left: 0; 
  right: 0; 
  bottom: 0px;
  margin: 0px;
  text-align: center;
  color: var(--text-color);
}

/* Text-Elemente */

h1 {
  color: var(--primary-color);
  padding: 5px;
  font-size: 30px;
  text-align: center;
  top:0px;
  margin: 0px;
}

table {
  color: green;
}

a {
  color: var(--link-color);
  margin: 0px;
}

p {
 color: var(--text-color);
 margin: 0px;
}

/*Webseite*/

.container {
  position: relative;
  top: 0px;
  left: -8px;
  width: 320px;
  height: 480px;
 
  display: flex;
  justify-content: center; 
  align-items: center; 
  box-sizing: border-box;
}

  .sektor1 {
    border: 2px solid  var(--uhr-border-color, red);
    border-radius: 15px;

    width: 320px;
    height: 150px;
    margin: 0px;

    box-sizing: border-box;
    flex-direction: column;

    position: absolute;
    top: 0px;
  }

    .Datum, .Tag, .labelTag, .labelMonat {
      color: var(--text-color);
    }

    #uhrzeit {
      font-family: 'Lucida Console', monospace;
      font-size: 80px;
      color: var(--text-color);
      
      /* border: 2px solid; 
      border-color: var(--uhr-border-color, red); 
      border-radius: 15px; */
    
      display: flex; 
      justify-content: center; 
      align-items: center;
      align-items: baseline;
      
      width: 100%; 
      max-width: 320px; 
      min-width: 290px; 
      box-sizing: border-box;

      position: absolute;
      top: 5px;
    }

    .doppelpunkte {
      font-size: 50px;
      color: var(--secondary-color); 
      padding: 0 5px; 
      width: 20px;
    }

    .stunden {
      display: flex;
      justify-content: flex-end;
      height: 80px;
      width: 95px; 
      /* border: 2px solid;
      border-color: var(--uhr-border-color); */
    }
  
    .minuten {
      display: flex;
      justify-content: flex-end;
      height: 80px;
      width: 95px; 
      /* border: 2px solid;
      border-color: var(--uhr-border-color); */
    }
  
    .sekunden {
      font-size: 50%;
      width: 50px;
      /* border: 2px solid;
      border-color: var(--uhr-border-color);
      */   
    }
    

    .Datum {
      font-size: 50px;
      position: absolute;
      margin: 0px;
      top: 80px;
      left: 15px;
      letter-spacing: 5px;
    }

    .Tag {
      font-size: 50px;
      position: absolute;
      right: 25px;
      margin: 0px;
      top: 80px;
      letter-spacing: 5px;
      overflow: visible;
      width: auto;
      white-space: nowrap;
    } 

    .labelTag, .labelMonat {
      font-size: 10px;
      position: absolute;
      margin: 0px;
      top: 128px;
    }

    .labelTag {
      left: 38px;
    }

    .labelMonat {
      left: 115px;
    }

    /*
    <p class="Innen">Innen</p>
          <p class="luftfeuchtigkeit">52</p>
          <p class="hauptTemperatur">22</p>
          <p class="nebenTemperatur">.5</p>
          <p class="lableProzentzeichen">%</p>
          <p calss="lableGradCelsius">°C</p>
        </div>
    */    

  .sektor2 {
    border: 2px solid  var(--uhr-border-color, red);
    border-radius: 15px;

    width: 320px;
    height: 90px;
    margin: 0px;

    box-sizing: border-box;
    flex-direction: column;

    position: absolute;
    top: 152px;
  }

    .Innen {
      font-size: 20px;
      display: flex; 
      justify-content: center; 
      align-items: center;
      align-items: baseline;
      margin: 0px;
      font-weight: 900;
    }

    .luftfeuchtigkeit {
      font-size: 64px;
      margin: 0px;
      width: 80px;
      position: absolute;
      left: 20px;
      top: 8px;
      width: 100px;
    }

      .lableProzentzeichen {
        font-size: 50%;
        position: absolute;
        right: 0px;
        bottom: 7px;
      }

    .Temperatur {
      font-size: 64px; /* Basisgröße */
      color: var(--text-color);
      margin: 0px;
      position: absolute;
      right: 20px;
      top: 8px;
      width: 105px;
    }
    
      .hauptTemperatur {
        margin: 0px;
        color: var(--text-color);
        bottom: 0px;
      }
      
      .lableGradCelsius { 
        font-size: 35%;
        margin: 0px;
        color: var(--text-color);
        position: absolute;
        right: 9px;
        top: 12px;
      }

      .nebenTemperatur {
        font-size: 45%; /* Die Schriftgröße ist 50% der übergeordneten */
        color: var(--text-color);
        margin: 0px;
        position: absolute;
        right: 10px;
        bottom: 8px;
      }

  .sektor3 {
    border: 2px solid  var(--uhr-border-color, red);
    border-radius: 15px;

    width: 320px;
    height: 90px;
    margin: 0px;

    box-sizing: border-box;
    flex-direction: column;

    position: absolute;
    top: 244px;
    left: 0px;
  }

    .Aussen {
      font-size: 20px;
      display: flex; 
      justify-content: center; 
      align-items: center;
      align-items: baseline;
      margin: 0px;
      font-weight: 900;
    }

    .luftfeuchtigkeit2 {
      font-size: 64px;
      margin: 0px;
      width: 80px;
      position: absolute;
      left: 20px;
      top: 15px;
      width: 100px;
    }

      .lableProzentzeichen2 {
        font-size: 50%;
        position: absolute;
        right: 0px;
        bottom: 7px;
      }

    .Temperatur2 {
      font-size: 64px; /* Basisgröße */
      color: var(--text-color);
      margin: 0px;
      position: absolute;
      right: 20px;
      top: 15px;
      width: 105px;
    }
    
      .hauptTemperatur2 {
        margin: 0px;
        color: var(--text-color);
        bottom: 0px;
      }
      
      .lableGradCelsius2 { 
        font-size: 35%;
        margin: 0px;
        color: var(--text-color);
        position: absolute;
        right: 9px;
        top: 12px;
      }

      .nebenTemperatur2 {
        font-size: 45%; 
        color: var(--text-color);
        margin: 0px;
        position: absolute;
        right: 10px;
        bottom: 8px;
      }
    
  .sektor4 {
    border: 2px solid  var(--uhr-border-color, red);
    border-radius: 15px;

    width: 320px;
    height: 110px;
    margin: 0px;

    box-sizing: border-box;
    flex-direction: column;

    position: absolute;
    top: 336px;
    left: 0px;
  }
    
  .balken {
    width: 1px;    
    height: 110px; 
    background-color: var(--primary-color);  
    position: absolute;
    top: -5px;
    left: 103px;
  }

  .info {
    /* border: 1px solid red;
    background-color: rgba(255, 255, 255, 0); */
    height: 110px;
    width: 210px;
    position: absolute;
    right: 0px;
    top: 0px;
  }

  .hidden {
    display: none;
  }

    .sonnenaufgang {
      position: absolute;
      bottom: 15px;
      left: 5px;
      font-size: 20px;
      width: 100px;
      text-align: center;
    }

      .sonnenaufgangImg {
        position: absolute;
        bottom: 50px;
        left: 28px;
      }

    .sonnenuntergang {
      position: absolute;
      bottom: 15px;
      right: 5px;
      font-size: 20px;
      width: 100px;
      text-align: center;
    }

      .sonnenuntergangImg {
        position: absolute;
        bottom: 50px;
        right: 36px;
      }


/* Mond*/

.mondphase {
  position: absolute;
  top: 3px;
  left: 3px;
}
  
  


/* .icon {
  position: absolute;
  top: 5px;  
  left: -2px; 
  width: 32px; 
  height: 32px;
} */

